<h2>Starter Project</h2>
<p>To save a bit of time, I created a starter project.</p>
<p>This project is Angular 11.2.11, with TSLint replaced with ESLint.</p>
<p>To do this when you create a project, or to upgrade a project, see <a
     href="https://github.com/angular-eslint/angular-eslint"
     target="_blank">https://github.com/angular-eslint/angular-eslint</a></p>
<p>It also has a <code>.vscode</code> directory in the project root. This has some basic Angular settings, and the
  recommended extensions.</p>
<p>You can copy this into any other project we create.</p>

<p>Let's Rock.</p>
<img src="/assets/letsrock.jpg"
     class="rounded mx-auto d-block"
     alt="The Arm">
